@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model Coffee_Shop_Lab.Models.CoffeeShop.FormResultViewModel


<ul class="list-group">
    @foreach (var users in Model.Users)
    {
        <li class="list-group-item">

            <p> Welcome! @users.FirstName @users.LastName</p>

          
        </li>
    }
</ul>